fastapi==0.115.11
python-multipart==0.0.20
uvicorn==0.34.0
pillow==11.1.0
numpy==2.0.2
opencv-python==4.11.0.86
deepface==0.0.93
retina-face==0.0.17
pyAudioAnalysis==0.3.14
pydub==0.25.1
scikit-learn==1.6.1
tensorflow==2.19.0
tf-keras==2.19.0
python-dotenv==1.0.1
audioread==3.0.1
librosa==0.11.0